/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
title
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  overscroll-behavior: contain;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande",Verdana,sans-serif,"Microsoft YaHei","Heiti TC";
  position: relative;
}

strong {
  font-weight: bold;
}

button:focus {
  outline: 0;
}

/*nav*/

.disable {
  text-decoration-line: line-through;
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.topnav {
    position: sticky;
    top: 0;
    background-color: #276CBA;
    overflow: hidden;
    width: 100%;
    z-index: 5;
}

.topnav a, .topnav .navheader {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 8px;
    text-decoration: none;
    font-size: 16px;
    height: 21px;
    width: 100px;
}
.topnav .navheader {
  cursor: default;
  font-size: 21px;
}

.navLight {
  background: #1978E5;
  box-shadow: inset 0 0 10px 1px white;
}

.navheader {
	border-right: 1px solid #fff;
	font-weight: bold;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
    /*animation: navcolor 0.5s infinite;*/
    animation-name: navcolor;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: alternate;
}

@keyframes navcolor {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

.topnav .navicon {
    display: none;
}

/*main*/

.repoTable, .home, .recommend, .about {
  position: relative;
  display: none;
}

/*home*/

.home-flex {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(22, 22, 22);
  color: rgb(222, 222, 222);
}

.home-cell {
  position: relative;
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
}

.home-cell:not(:last-child) {
  margin-bottom: 30px;
}

.home-left, .home-main {
  box-sizing: border-box;
  padding: 5px;
  height: 90vh;
}

.home-left {
  flex-basis: 20%;
  margin: 5px 0 5px 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(222, 222, 222);
  border-right: 0;
  border-radius: 5px 0 0 5px;
}

.home-main {
  flex-basis: 80%;
  margin: 5px 5px 5px 0;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(222, 222, 222);
  border-radius: 0 5px 5px 0;
  overflow-y: auto;
  line-height: 1.65em;
}

.home-main::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(22,22,22);
}
.home-main::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 5px;
  background-color: rgb(22,22,22);
}
.home-main::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgb(99, 99, 99);
}
.home-main::-webkit-scrollbar-thumb:hover {
  background-color: #3986ac;
}

.left-item {
  cursor: pointer;
  padding: 5px;
}

.ischoose {
  font-weight: 900;
  background-color: #0B3C4C;
  border-bottom: 2px solid #22B2E1;
  border-radius: 5px 5px 0 0;
}

.home-title {
  font-weight: 900;
  font-size: 1.7em;
  padding-bottom: 3px;
  margin-bottom: 10px;
  border-bottom: 3px solid rgb(222, 222, 222); 
}

.home-content {
  font-size: 1.3em;
  padding: 10px 5px 5px 5px;
}

.code {
  padding: 10px;
  outline: 2px solid white;
  background-color: #000;
  margin: 10px 0 20px 0;
}

.a-w-b {
  color: white;
  font-weight: bold;
}

.log-menu {
  position: fixed;
  top: 75px;
  right: 10px;
  display: inline-block;
  z-index: 1;
}
.menu-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 26px;
  cursor: pointer;
}
.menu-icon .line-top, .menu-icon .line-bottom {
  position: absolute;
  width: 50px;
  height: 4px;
  top: 0;
  left: 0;
  background: #7CA4CC;
  -webkit-animation:line-top-close 1s ease both;
          animation:line-top-close 1s ease both;
}
.menu-icon .line-bottom {
  top: 20px;
  -webkit-animation:line-bottom-close 1s ease both;
          animation:line-bottom-close 1s ease both;
}
.menu-icon.active {
  pointer-events: none;
}
.menu-icon.active .line-top {
  -webkit-animation: line-top-open 1s ease both;
          animation: line-top-open 1s ease both;
}
.menu-icon.active .line-bottom {
  -webkit-animation: line-bottom-open 1s ease both;
          animation: line-bottom-open 1s ease both;
}
.menu-icon.paused .line-top, .menu-icon.paused .line-bottom,
.menu-icon.paused .line-bottom {
  -webkit-animation: none;
          animation: none;
}

.menu {
  position: absolute;
  width: 300px;
  height: 20px;
  top: 0;
  right: 0;
  padding: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  color: #7CA4CC;
}
.menu.active {
  opacity: 1;
  pointer-events: all;
  -webkit-transition: all .5s ease-in-out .5s;
  transition: all .5s ease-in-out .5s;
}
.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  width: 280px;
  margin: 0;
  padding: 0 10px;
}
.menu ul li {
  position: relative;
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.menu ul li:hover {
  opacity: 0.8;
}
.menu ul li span {
  background-color: rgba(22,22,22,0.85);
  box-shadow: 1px 1px 1px 1px rgba(22,22,22,0.5);
  border-radius: 10px;
  font-weight: 900;
}
@-webkit-keyframes line-top-open {
  0% {
    -webkit-transform: translate3d(0, 0, 0) scaleY(1) scaleX(1);
            transform: translate3d(0, 0, 0) scaleY(1) scaleX(1);
  }
  20% {
    -webkit-transform: translate3d(0, 3px, 0) scaleY(1) scaleX(1);
            transform: translate3d(0, 3px, 0) scaleY(1) scaleX(1);
  }
  40% {
    -webkit-transform: translate3d(0, -20px, 0) scaleY(0.5) scaleX(1);
            transform: translate3d(0, -20px, 0) scaleY(0.5) scaleX(1);
  }
  100% {
    -webkit-transform: translate3d(-125px, -20px, 0) scaleY(0.5) scaleX(6);
            transform: translate3d(-125px, -20px, 0) scaleY(0.5) scaleX(6);
  }
}

@keyframes line-top-open {
  0% {
    -webkit-transform: translate3d(0, 0, 0) scaleY(1) scaleX(1);
            transform: translate3d(0, 0, 0) scaleY(1) scaleX(1);
  }
  20% {
    -webkit-transform: translate3d(0, 3px, 0) scaleY(1) scaleX(1);
            transform: translate3d(0, 3px, 0) scaleY(1) scaleX(1);
  }
  40% {
    -webkit-transform: translate3d(0, -20px, 0) scaleY(0.5) scaleX(1);
            transform: translate3d(0, -20px, 0) scaleY(0.5) scaleX(1);
  }
  100% {
    -webkit-transform: translate3d(-125px, -20px, 0) scaleY(0.5) scaleX(6);
            transform: translate3d(-125px, -20px, 0) scaleY(0.5) scaleX(6);
  }
}
@-webkit-keyframes line-bottom-open {
  0% {
    -webkit-transform: translate3d(0, 0, 0) scaleY(1) scaleX(1);
            transform: translate3d(0, 0, 0) scaleY(1) scaleX(1);
  }
  20% {
    -webkit-transform: translate3d(0, -3px, 0) scaleY(1) scaleX(1);
            transform: translate3d(0, -3px, 0) scaleY(1) scaleX(1);
  }
  40% {
    -webkit-transform: translate3d(0, 20px, 0) scaleY(0.5) scaleX(1);
            transform: translate3d(0, 20px, 0) scaleY(0.5) scaleX(1);
  }
  100% {
    -webkit-transform: translate3d(-125px, 20px, 0) scaleY(0.5) scaleX(6);
            transform: translate3d(-125px, 20px, 0) scaleY(0.5) scaleX(6);
  }
}
@keyframes line-bottom-open {
  0% {
    -webkit-transform: translate3d(0, 0, 0) scaleY(1) scaleX(1);
            transform: translate3d(0, 0, 0) scaleY(1) scaleX(1);
  }
  20% {
    -webkit-transform: translate3d(0, -3px, 0) scaleY(1) scaleX(1);
            transform: translate3d(0, -3px, 0) scaleY(1) scaleX(1);
  }
  40% {
    -webkit-transform: translate3d(0, 20px, 0) scaleY(0.5) scaleX(1);
            transform: translate3d(0, 20px, 0) scaleY(0.5) scaleX(1);
  }
  100% {
    -webkit-transform: translate3d(-125px, 20px, 0) scaleY(0.5) scaleX(6);
            transform: translate3d(-125px, 20px, 0) scaleY(0.5) scaleX(6);
  }
}
@-webkit-keyframes line-top-close {
  0% {
    -webkit-transform: translate3d(-125px, -20px, 0) scaleY(0.5) scaleX(6);
            transform: translate3d(-125px, -20px, 0) scaleY(0.5) scaleX(6);
  }
  60% {
    -webkit-transform: translate3d(0, -20px, 0) scaleY(0.5) scaleX(1);
            transform: translate3d(0, -20px, 0) scaleY(0.5) scaleX(1);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scaleY(1) scaleX(1);
            transform: translate3d(0, 0, 0) scaleY(1) scaleX(1);
  }
}
@keyframes line-top-close {
  0% {
    -webkit-transform: translate3d(-125px, -20px, 0) scaleY(0.5) scaleX(6);
            transform: translate3d(-125px, -20px, 0) scaleY(0.5) scaleX(6);
  }
  60% {
    -webkit-transform: translate3d(0, -20px, 0) scaleY(0.5) scaleX(1);
            transform: translate3d(0, -20px, 0) scaleY(0.5) scaleX(1);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scaleY(1) scaleX(1);
            transform: translate3d(0, 0, 0) scaleY(1) scaleX(1);
  }
}
@-webkit-keyframes line-bottom-close {
  0% {
    -webkit-transform: translate3d(-125px, 20px, 0) scaleY(0.5) scaleX(6);
            transform: translate3d(-125px, 20px, 0) scaleY(0.5) scaleX(6);
  }
  60% {
    -webkit-transform: translate3d(0, 20px, 0) scaleY(0.5) scaleX(1);
            transform: translate3d(0, 20px, 0) scaleY(0.5) scaleX(1);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scaleY(1) scaleX(1);
            transform: translate3d(0, 0, 0) scaleY(1) scaleX(1);
  }
}
@keyframes line-bottom-close {
  0% {
    -webkit-transform: translate3d(-125px, 20px, 0) scaleY(0.5) scaleX(6);
            transform: translate3d(-125px, 20px, 0) scaleY(0.5) scaleX(6);
  }
  60% {
    -webkit-transform: translate3d(0, 20px, 0) scaleY(0.5) scaleX(1);
            transform: translate3d(0, 20px, 0) scaleY(0.5) scaleX(1);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scaleY(1) scaleX(1);
            transform: translate3d(0, 0, 0) scaleY(1) scaleX(1);
  }
}

/*repository*/

.repoFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: 0 5%;
}

.repoCol {
  display: inline-block;
  float: left;
  width: 33.3%;
}

.hr-one {
  height: 5px;
  border: 1;
  box-shadow: inset 0 6px 6px -3px rgba(11, 99, 184, 0.6);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.item {
  margin:5px 1% 5px 1%;
  padding: 5px;
  border: 2px solid #888BC4;
  border-radius: 5px 5px 2px 2px;
  box-shadow: 2px 4px 6px 2px rgba(0, 0, 0, 0.2);
}

.title {
  cursor: default;
  color: #0E36D4;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 5px 5px 0 5px;
  background: linear-gradient(180deg, rgba(255,255,255,0) 60%, #fff),linear-gradient(70deg, #dbedff 32%, #ebfff0);
  padding: 2px 2px 4px 2px;
}

.title-i {
  font-size: 12px;
}

.image-box {
  width: 100%;
  text-align: center;
  position: relative;
}

.image-box img {
  width: 100%;
  object-fit: contain;
  max-width: 440px;
  max-height: 220px;
  margin: auto;
  image-rendering: pixelated;
}

.img-ex {
  opacity: 0;
  position: absolute;
  font-size: 30px;
  top: 40%;
  left: 45%;
  color: white;
  background-color: black;
  border: 3px solid black;
  border-radius: 5px;
  transform: perspective(1000);
  transform-style: preserve-3d;
  transition: all 400ms ease;
  transform: rotate(0deg);
}

.img-ex:hover {
  opacity: 0.8;
  animation-name: fade-in;
  animation-duration: 0.5s; 
}

.img-ex-rot {
  transform: rotate(180deg);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

.itemContainer {
  background: #BFE4F8;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 0 5px 5px 5px;
}

.itemContainer p {
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.en {
  letter-spacing: 0.5px;
}

.linkbtn {
  text-align: right;
}

.itembtn {
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #008CBA;
    color: black; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    width: 40%;
  border-radius: 3px;
}

.itembtn:hover {
    background-color: #008CBA;
    color: white;
}

/*recommend*/

.recommend {
  background-color: rgba(33, 33, 33, 0.2);
  height: 95vh;
}

.flex-page {
  background: #fff;
  display: flex;
  flex-direction: column;
}

.flex-category {
  display: flex;
  flex-direction: row;
}

.category-left {
  cursor: default;
  width: 10%;
  color: rgb(247, 247, 247);
  text-align: center;
  padding: 10px 0;
  text-overflow: hidden;
  overflow: hidden;
}

.category-right {
  width: 10%;
  background-color: rgb(33, 33, 33);
  color: rgb(247, 247, 247);
  overflow: hidden;
  text-overflow: ellipsis;
}

.category-middle {
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  background-color: rgba(33, 33, 33, 0.2);
}

.category-middle a {
  margin: 5px 0 5px 5px;
}

.recommend-tag {
  font-size: 1.5em;
  padding: 5px;
  color: rgb(247, 247, 247);
  border: 0;
  border-radius: 3px;
  box-shadow: 1px 1px 2px 2px rgba(33,33,33,0.4);
  cursor: pointer;
}

.recommend-tag:after, .category-left div:after {
  font-size: 0.7em;
  box-shadow: 0px 0px 3px 3px rgba(247, 247, 247, 0.7);
}
.category-left div:after {
  font-size: 1em;
}

.recommend-loading {
  padding: 5px;
  text-align: center;
}

.recommend-loading i {
  transform-origin: 39.5px 11.5px;
  transform: rotate(45deg);
  animation: recommend-loading 2s cubic-bezier(.6, 0, .4, 1) infinite;
}

@keyframes recommend-loading {
  0%, 100% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(-45deg);
  }
}

/*about*/

.about {
  margin: 0 5%;
  width: 90%;
}

.profile {
  margin: 10px;
  background: #1D1D1D;
  border: 1px solid #1D1D1D;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.profile-info {
  margin-left: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-img {
  display: inline-flex;
}

.profile-img img{
  width: 150px;
  height: 150px;
  border: 3px solid #fff;
  border-radius: 75px;
  object-fit: cover;
  margin-right: 10px;
  image-rendering: pixelated;
}

.profile-name {
  font-size: 26px;
}

.profile-intro, .profile-connect {
  margin-top: 10px;
  font-size: 18px;
}

.profile-connect {
  display: flex;
}

.profile-connect p {
  padding-top: 10px;
}
.profile-connect span {
  padding-top: 18px;
}

.sprite {
  margin-left: 10px;
}

.sprite a{
  display: inline-flex;
}

.sprite a:not(:last-child) {
  margin-right: 10px;
}

.sprite-init {
  width: 50px;
  height: 50px;
  float:left;
  display: inline-block;
  transform-style: preserve-3d;
  transition: all 400ms ease-in;
  transform: rotate(-90deg);
  object-fit: cover;
  border: 1px dashed white;
  border-radius: 0 10px;
}
.sprite-init:hover {
  transform: rotate(0deg);
  border-color: transparent;
}

.sprite-face {
  background: url('../img/sprites_social.png');
  background-position: -11px -74px;
}
.sprite-face:hover {
  background: url('../img/sprites_social.png');
  background-position: -10px -10px;
}
.sprite-youtube {
  background: url('../img/sprites_social.png');
  background-position: -292px -74px;
}
.sprite-youtube:hover {
  background: url('../img/sprites_social.png');
  background-position: -292px -11px;
}
.sprite-github {
  background: url('../img/sprites_social.png');
  background-position: -80px -144px;
}
.sprite-github:hover {
  background: url('../img/sprites_social.png');
  background-position: -10px -144px;
}

.frame-mio {
  width: 80px;
  height: 20px;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  background: #272C34;
  color: #fff;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.word-mio {
  position: absolute;
  height: 20px;
  width: 80px;
}

.word-mio .mm {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 5px;
}

.word-mio .mm .left {
  position: absolute;
  top: 0;
  left: 2px;
  height: 2px;
  width: 20px;
  -webkit-transform-origin: 0px 0px;
          transform-origin: 0px 0px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-animation: flickr-m 6s ease-in-out 0.81s infinite alternate both;
          animation: flickr-m 6s ease-in-out 0.81s infinite alternate both;
}
.word-mio .mm .middle-left {
  position: absolute;
  top: 0;
  left: 3px;
  height: 2px;
  width: 21px;
  -webkit-transform-origin: 0px 0px;
          transform-origin: 0px 0px;
  -webkit-transform: rotate(65deg);
          transform: rotate(65deg);
  -webkit-animation: flickr-m 6s ease-in-out 2.47s infinite alternate both;
          animation: flickr-m 6s ease-in-out 2.47s infinite alternate both;
}
.word-mio .mm .middle-right {
  position: absolute;
  top: 1px;
  left: 19px;
  height: 2px;
  width: 21px;
  -webkit-transform-origin: 0px 0px;
          transform-origin: 0px 0px;
  -webkit-transform: rotate(115deg);
          transform: rotate(115deg);
  -webkit-animation: flickr-m 6s ease-in-out 2.68s infinite alternate both;
          animation: flickr-m 6s ease-in-out 2.68s infinite alternate both;
}
.word-mio .mm .right {
  position: absolute;
  top: 0;
  left: 20px;
  height: 2px;
  width: 20px;
  -webkit-transform-origin: 0px 0px;
          transform-origin: 0px 0px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-animation: flickr-m 6s ease-in-out 2.43s infinite alternate both;
          animation: flickr-m 6s ease-in-out 2.43s infinite alternate both;
}
.word-mio .ii {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 30px;
}
.word-mio .ii .top {
  position: absolute;
  top: 0;
  left: 0px;
  width: 20px;
  height: 2px;
  -webkit-animation: flickr-m 6s ease-in-out 1.77s infinite alternate both;
        animation: flickr-m 6s ease-in-out 1.77s infinite alternate both;
}
.word-mio .ii .middle {
  position: absolute;
  top: 2px;
  left: 11px;
  width: 16px;
  height: 2px;
  -webkit-transform-origin: 0px 0px;
          transform-origin: 0px 0px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-animation: flickr-m 6s ease-in-out 2.54s infinite alternate both;
        animation: flickr-m 6s ease-in-out 2.54s infinite alternate both;
}
.word-mio .ii .bottom {
  position: absolute;
  top: 18px;
  left: 0px;
  width: 20px;
  height: 2px;
  -webkit-animation: flickr-m 6s ease-in-out 1.47s infinite alternate both;
        animation: flickr-m 6s ease-in-out 1.47s infinite alternate both;
}
.word-mio .oo {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 55px;
}
.word-mio .oo .right {
  position: absolute;
  top: 0;
  right: 0;
  height: 20px;
  width: 20px;
}
.word-mio .oo .right .circleBox .circle {
  -webkit-animation: flickr-circle-m 6s ease-in-out 3.8s infinite alternate both;
          animation: flickr-circle-m 6s ease-in-out 3.8s infinite alternate both;
}
.word-mio .oo .right .circleBox {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 20px;
  overflow: hidden;
}
.word-mio .oo .right .circleBox .circle {
  box-sizing: border-box;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0px;
  right: 0px;
  border-style: solid;
  border-width: 2px;
  border-color: #1A1E24 #1A1E24 #1A1E24 #1A1E24;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 0px #1A1E24, inset 0px 0px 2px 0px #F1F4F5;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.bdr50 {
  border-radius: 50%;
}
@-webkit-keyframes flickr-m {
  35%, 37%, 39%, 41%, 100% {
    background: #F1F4F5;
    box-shadow: 0px 0px 2px 0px #F1F4F5;
  }
  0%, 34%, 36%, 38%, 40% {
    background: #1A1E24;
    box-shadow: 0px 0px 2px 0px #1A1E24;
  }
}

@keyframes flickr-m {
  35%, 37%, 39%, 41%, 100% {
    background: #F1F4F5;
    box-shadow: 0px 0px 2px 0px #F1F4F5;
  }
  0%, 34%, 36%, 38%, 40% {
    background: #1A1E24;
    box-shadow: 0px 0px 2px 0px #1A1E24;
  }
}
@-webkit-keyframes flickr-circle-m {
  35%, 37%, 39%, 41%, 100% {
    box-shadow: 0px 0px 2px 0px #F1F4F5, inset 0px 0px 2px 0px #F1F4F5;
  }
  35% {
    border-color: #F1F4F5 transparent transparent transparent;
  }
  37% {
    border-color: #F1F4F5 #F1F4F5 transparent transparent;
  }
  39% {
    border-color: #F1F4F5 #F1F4F5 #F1F4F5 transparent;
  }
  41% {
    border-color: #F1F4F5 #F1F4F5 #F1F4F5 #F1F4F5;
  }
  100% {
    border-color: #F1F4F5 #F1F4F5 #F1F4F5 #F1F4F5;
  }
  0%, 34%, 36%, 38%, 40% {
    border-color: #1A1E24 #1A1E24 #1A1E24 #1A1E24;
    box-shadow: 0px 0px 2px 0px #1A1E24, inset 0px 0px 2px 0px #1A1E24;
  }
}
@keyframes flickr-circle-m {
  35%, 37%, 39%, 41%, 100% {
    box-shadow: 0px 0px 2px 0px #F1F4F5, inset 0px 0px 2px 0px #F1F4F5;
  }
  35% {
    border-color: #F1F4F5 transparent transparent transparent;
  }
  37% {
    border-color: #F1F4F5 #F1F4F5 transparent transparent;
  }
  39% {
    border-color: #F1F4F5 #F1F4F5 #F1F4F5 transparent;
  }
  41% {
    border-color: #F1F4F5 #F1F4F5 #F1F4F5 #F1F4F5;
  }
  100% {
    border-color: #F1F4F5 #F1F4F5 #F1F4F5 #F1F4F5;
  }
  0%, 34%, 36%, 38%, 40% {
    border-color: #1A1E24 #1A1E24 #1A1E24 #1A1E24;
    box-shadow: 0px 0px 2px 0px #1A1E24, inset 0px 0px 2px 0px #1A1E24;
  }
}

.message-board {
  background-color: #f6f7f9;
  border-radius: 3px 3px 0 0;
  border: 1px solid DodgerBlue;
  flex-flow: row wrap;
  display: flex;
  justify-content: flex-start;
}

.message-setting {
  margin-bottom: 10px;
  background-color: #f6f7f9;
  border-radius: 0 0 3px 3px;
  border: 1px solid DodgerBlue;
  border-top: none;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-items: center;
}

.setting-cell {
  margin: 10px 5px 10px 5px;
}

.setting-cell button {
  font-size: 16px;
  box-shadow: 0 0 0 4px #1D1D1D, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  text-shadow: -1px -1px #0E0E0E;
  text-align: center;
  padding: 5px;
  background-color: #1D1D1D;
  border: 1px dashed #fff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: normal;
}

.setting-cell button:hover {
  background-color: #5ECDF2;
  color: #000;
  text-shadow: none;
}

.counter {
  display: flex;
  flex-direction: row;
  margin: 0 5px;
  height: 30px;
  width: 80px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 4px 8px 12px 0 rgba(0, 0, 0, 0.1);
}

.counter .minus, .counter .plus {
  position: relative;
  display: inline-flex;
  margin: 3px 2px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  text-align: center;
  z-index: 1;
}

.counter .minus .line {
  position: absolute;
  top: 10px;
  left: 4px;
  width: 16px;
  height: 4px;
  background: #E26E6E;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.counter .minus:hover {
  background: #E26E6E;
}

.counter .minus:hover .line {
  background: #fff;
}

.counter .plus .line-h {
  position: absolute;
  height: 4px;
  width: 16px;
  left: 4px;
  top: 10px;
  background: #8ED273;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.counter .plus .line-v {
  position: absolute;
  height: 16px;
  width: 4px;
  left: 10px;
  top: 4px;
  background: #8ED273;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.counter .plus:hover {
  background: #8ED273;
}
.counter .plus:hover .line-h, .counter .plus:hover .line-v {
  background: #fff;
}

.counter .number {
  display: inline-flex;
  justify-content: center;
  width: 24px;
  height: 30px;
  color: #6A85A0;
  line-height: 30px;
  font-size: 20px;
  font-weight: bold;
}

.counter .number span {
  position: absolute;
  top: 0;
  left: 6.5px;
}

#message-copy {
  display: none;
  box-shadow: 0 0 0 4px rgb(0, 51, 102) , 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  background-color: rgb(0, 51, 102);
  border: 1px dashed #fff;
  margin-left: 5px;
}
#message-copy:hover {
  background-color: rgb(39, 108, 186);
  color: #fff;
  text-shadow: none;
}

#message-error {
  display: none;
  box-shadow: 0 0 0 4px DarkRed , 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  background-color: DarkRed;
  border: 1px dashed #fff;
  margin-left: 5px;
}

#message-error:hover {
  background-color: FireBrick;
  color: #fff;
  text-shadow: none;
}

.message-cell {
  flex-basis: 33.3%;
  align-self: stretch;
}

.mbbs1 {
  box-shadow: none;
}
.mbbs2 {
  box-shadow: 0px 0px 3px 3px rgba(30, 200, 250, 0.3);
}

.message-box {
  margin: 10px;
  border: 1px solid #AEAEAE;
  border-radius: 5px 5px 5px 5px;
  background-color: #fff;
}

.message-info {
  padding: 10px;
  display: flex;
  justify-content: space-between;;
  align-items: baseline;
}

.message-user {
  max-width: 50%;
  color: #2C58E4;
  font-weight: bold;
  font-size: 18px;
  word-break: break-all;
  word-wrap: break-word;
}

.message-time {
  max-width: 50%;
  background-color: #F2F3F4;
  border-radius: 3px;
  border: 1px solid #F2F3F4;
  padding: 1px;
  word-break: break-all;
  word-wrap: break-word;
  padding: 3px;
  text-align: right;
}

.message-content {
  font-family: serif;
  padding: 0 10px;
  font-size: 18px;
  height: 100px;
  overflow: auto;
  word-break: break-all;
  word-wrap: break-word;
  white-space:pre-wrap;
  line-height: 130%;
}

.blur {
  -webkit-filter: blur(0.5px);
  filter: blur(0.5px);
}

.blur:hover {
  -webkit-filter: blur(0px);
  filter: blur(0px);
}

.ct {
  text-align:center;
  opacity:0.6;
  color: DodgerBlue;
}

.message-content::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}
.message-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 5px;
  background-color: #F5F5F5;
}
.message-content::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #969696;
}
.message-content::-webkit-scrollbar-thumb:hover {
  background-color: #3986ac;
}

.message-room {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #AEAEAE;
  margin-top: 5px;
  overflow: hidden;
}

.orange-btn {
  border: none;
  overflow: hidden;
  font-size: 16px;
  background-color: #E5E5E5;
  color: OrangeRed;
  padding: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  box-shadow: 0px 0px 2px 2px rgba(33, 33, 0, 0.3);
}

.orange-btn:hover {
  background-color: OrangeRed;
  color: #fff;
}

.chat-box {
  display: none;
  height: 215.18px;
}

.chat-room {
  position: relative;
  width: 100%;
  height: 184.18px;
  overflow: auto;
  overscroll-behavior: contain;
}

.chat-room::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

.chat-room::-webkit-scrollbar-track
{
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
  border-radius: 5px;
  background-color: #fff;
}

.chat-room::-webkit-scrollbar-thumb
{
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #969696;
}

.chat-room::-webkit-scrollbar-thumb:hover{
  background-color: #3986ac;
}

.chat-loadpast {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
  width: 50%;
}

.chat-loadpast i {
  position: absolute;
  top: 0;
  left: 0;
}
.chat-loadpast i:hover {
  -webkit-animation: loadpast 1s ease-in 0.3s infinite forwards;
          animation: loadpast 1s ease-in 0.3s infinite forwards;
}

@keyframes loadpast {
  0%, 100% {
    top: 0;
  }
  25% {
    top: 2px;
  }
  75% {
    top: -3px;
  }
}

.chat-setting {
  position: sticky;
  top: 0px;
  text-align: right;
  padding-right: 10px;
  z-index: 1;
}

.chat-icon {
  display: inline-block;
  color: #9A9A9A;
  background-color: #fff;
  opacity: .85;
  border-radius: 5px;
}

.chat-icon:hover {
  color: #3986ac;
}

.chat-icon:not(:last-child) {
  margin-right: 5px;
}

.chat-message {
  width: 100%;
  margin-bottom: 10px;
}

.chat-name {
  color: #90949c;
  margin-bottom: 2px;
  padding-left: 16px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.chat-content {
  display: inline-block;
  max-width: 100%;
  margin-left: 8px;
  margin-right: 8px;
  padding: 5px 8px;
  color: rgb(247, 247, 247);
  background-color: rgb(33, 33, 33);
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  margin-bottom: 1px;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
}

.chat-main div:first-child .chat-content {
  border-top-left-radius: 13px;
}

.chat-main div:last-child .chat-content {
  border-bottom-left-radius: 13px;
}

.chat-bar {
  width: 100%;
  border-top: 2px solid #AEAEAE;
  text-align: left;
  overflow: hidden;
  display: flex;
  direction: ltr;
  justify-content: space-around;
  height: 29px;
}

.chat-text {
  width: 100%;
  padding-left: 5px;
  font-size: 20px;
  border: 1px solid #fff;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.chat-text:focus {
  border: 1px solid #fff;
}

.chat-text::placeholder {
  color: #E1E1E1;
}

.chat-subbtn {
  width: 100%;
}

.rotate90 {
  transform: rotate(90deg);
}

.ask-area {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.ask-icon, .ask-text, .ask-submit {
  display: inline-flex;
  border: 1px solid #1D1D1D;
  border-radius: 5px 0 0 5px;
  color: #1D1D1D;
  padding: 10px;
  background-color: #f2f2f2;
}

.ask-submit {
  display: block;
  border-radius: 0 5px 5px 0;
}

.ask-confirm {
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.ask-text {
  width: 60%;
  border-radius: 0;
  justify-content: center;
}

.ask-text textarea {
  width: 90%;
  font-size: 20px;
  height: 150px;
  resize: vertical;
  border-radius: 5px 5px 0 5px;
  padding: 10px;
}

.ask-text textarea::placeholder {
  color: #E1E1E1;
}

.ask-text textarea:focus {
  outline-width: 3px;
}

.txt-blue {
  color: #5ECDF2;
}

.confirm-btn {
  text-align: center;
  position: absolute;
  bottom: 10px;
}

.ask-submit button {
  text-align: center;
  padding: 5px;
  font-size: 20px;
  background-color: #1D1D1D;
  border: 1px solid #1D1D1D;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.ask-submit button:hover {
  background-color: #5ECDF2;
  color: #1D1D1D;
}

.askErrTxt {
  padding: 12px 12px 4px 12px;
  background-color: red;
  color: white;
  font-size: 20px;
  border-radius: 15px 15px 0 0;
  cursor: default;
}

/*signInModal*/

#section-signInModal {
  display: none;
  position: fixed;
  right: 0;
  top: 44px;
  width: 30%;
  background: #BDCEDB;
  border: 2px solid #276CBA;
  border-top: 0;
  border-right: 0;
  border-bottom-left-radius: 5px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.12);
  z-index: 2;
}

.signInTab {
  width: 100%;
}

.tabbtn, .tabbtn-mobile {
  cursor: pointer;
  border: none;
  outline: none;
  width: 50%;
  float: left;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
  font-size: 20px;
  border-bottom: 1px solid #5A5FBB;
  background-color: #484AEC;
  color: #F6F6F6;
  letter-spacing: 5px;
}
.tabbtn:first-child {
  border-right-width: 1px;
  border-right-style: dashed;
  border-right-color: white;
}

.tabbtn:hover, .tabbtn-mobile {
  background-color: #bbb;
  color: #5A5FBB;
}

.tabbtn-mobile {
  display: none;
  width: 10%;
  color: #484AEC;
  background-color: DarkSlateGray;
  border-bottom-width: 2px;
}

.form {
  position: relative;
  display: block;
  clear: both;
  margin: 10px;
  text-align: center;
}

.form input {
  width: 90%;
  margin: 10px auto;
  font-size: 20px;
  padding: 5px;
  border-radius: 0 5px 5px 5px;
}

.form input:focus {
  outline: 3px solid #51C6ED;
}

.confirmbtn {
  width: 40%;
  outline: none;
  border: 2px solid #fff;
  background-color: #fff;
  cursor: pointer;
  color: #34495E;
  margin: 10px;
  padding: 10px;
  font-size: 22px;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 25px;
  float: right;
  box-shadow: 4px 8px 12px 0 rgba(0, 0, 0, 0.1);
}

.confirmbtn:focus {
  color: #fff;
  background: #64C760;
}

#signUp {
  display: none;
}

#errtxt {
  display: none;
  width: 100%;
  margin: 10px 0;
  background-color: #FF6347;
  color: white;
  font-size: 16px;
  padding: 5px 0;
  border-bottom-left-radius: 3px;
}

#errtxt:hover {
  background-color: red;
}

/*media setting*/

@media screen and (max-width: 1201px) {
  .repoCol {
    width: 50%;
  }
  .title {
    padding-left: 5px;
  }
  .message-cell {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 721px) {
  .topnav {
    position: fixed;
  }
  .main {
    margin-top: 46px;
  }
  .topnav a:last-child {
    display: block;
  }
  .navheader { border-right-width: 0px; border-bottom: 1px dashed #fff; }
  .navcontent { display: none; margin-top: 10px;}
  .topnav .navcontent a, .topnav .navheader{
  	width: 100%;
    text-align: center;
    padding: 12px 0;
    border-radius: 0;
  }
  .topnav a.navicon {
    position: absolute;
    width: auto;
    right: left;
    top: 0;
    display: block;
    border-radius: 0;
  }

  .repoCol {
    display: block;
    width: 100%;
    margin-top: 10px;
  }

  .profile {
    display: block;
  }

  .profile-img, .profile-name {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }

  .profile-img img {
    margin: 0;
  }

  #section-signInModal {
    width: 100%;
    border-bottom-right-radius: 5px;
  }

  .tabbtn {
    width: 45%;
    border-right-width: 1px;
    border-right-style: dashed;
    border-right-color: white;
  }

  .tabbtn-mobile {
    display: inline-block;
  }

  .about, .repoTable {
    margin: 0;
    width: 100%;
  }

  .about {
    padding-top: 1px;
  }

  .message-board {
    width: 96%;
    margin: 10px 2% 0px 2%;
  }

  .message-setting {
    width: 96%;
    margin: 0px 2% 10px 2%;
  }

  .message-cell {
    flex-basis: 100%;
  }
  
  .message-content {
    max-height: 200px;
  }


  .home-cell {
    flex-direction: column;
  }

  .home-left, .home-main  {
    margin: 5px;
    flex-basis: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(222, 222, 222);
  }

  .home-left {
    height: auto;
    margin-bottom: 0;
    border-radius: 5px 5px 0 0;
  }

  .home-main {
    height: 90vh;
    margin-top: 0;
    border-top: 0;
    border-radius: 0 0 5px 5px;
  }
}