/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-family: Verdana,sans-serif,"Microsoft YaHei","Heiti TC";
}

strong {
  font-weight: bold;
}

/*nav*/

.topnav {
    position: fixed;
    background-color: #25285C;
    overflow: hidden;
    width: 100%;
    z-index: 5;
}

.topnav a, .topnav .navheader {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 8px;
    text-decoration: none;
    font-size: 16px;
    height: 21px;
    width: 100px;
    border-radius: 20px;
}
.topnav .navheader {
  cursor: default;
  font-size: 21px;
}

.navLight {
  background: #8184BC;
}

.navheader {
	border-right: 1px solid #fff;
	font-weight: bold;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
    /*animation: navcolor 0.5s infinite;*/
    animation-name: navcolor;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 3;
    animation-direction: alternate;
}

@keyframes navcolor {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

.topnav .navicon {
    display: none;
}

/*main*/

.main {
  padding: 45px 10% 0 10%;
}

.about, .home, .recommend {
  position: relative;
  display: none;
}

/*repository*/

.repoTable {
  position: relative;
}

.repoCol {
  display: inline-block;
  float: left;
  width: 33.3%;
}

.hr-one {
  height: 5px;
  border: 1;
  box-shadow: inset 0 6px 6px -3px rgba(11, 99, 184, 0.6);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.item {
  margin:5px 1% 5px 1%;
  padding: 5px;
  border: 2px solid #888BC4;
  border-radius: 5px 5px 2px 2px;
  box-shadow: 2px 4px 6px 2px rgba(0, 0, 0, 0.2);
}

.title {
  cursor: default;
  color: #0E36D4;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

.image-box {
  width: 100%;
  text-align: center;
  position: relative;
}

.image-box img {
  width: 100%;
  border-radius: 0 5px 5px 5px;
  object-fit: contain;
  max-width: 440px;
  max-height: 220px;
  margin: auto;
}

.img-ex {
  opacity: 0;
  position: absolute;
  font-size: 30px;
  top: 40%;
  left: 45%;
  color: white;
  background-color: black;
  border: 3px solid black;
  border-radius: 5px;
  transform: perspective(1000);
  transform-style: preserve-3d;
  transition: all 400ms ease;
  transform: rotate(0deg);
}

.img-ex:hover {
  opacity: 0.8;
  animation-name: fade-in;
  animation-duration: 0.5s; 
}

.img-ex-rot {
  transform: rotate(180deg);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

.itemContainer {
  background: #BFE4F8;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 0 5px 5px 5px;
}

.itemContainer p {
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.en {
  letter-spacing: 0.5px;
}

.linkbtn {
  text-align: right;
}

.itembtn {
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #008CBA;
    color: black; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    width: 40%;
  border-radius: 3px;
}

.itembtn:hover {
    background-color: #008CBA;
    color: white;
}

/*about*/

.about {
  width: 100%;
}

.profile {
  margin: 10px;
  background: #1D1D1D;
  border: 1px solid #1D1D1D;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.profile-info {
  margin-left: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-img {
  display: inline-flex;
}

.profile-img img{
  width: 150px;
  height: 150px;
  border: 3px solid #fff;
  border-radius: 75px;
  object-fit: cover;
  margin-right: 10px;
}

.profile-name {
  font-size: 26px;
}

.profile-intro, .profile-connect {
  margin-top: 10px;
  font-size: 18px;
}

.profile-connect {
  display: flex;
}

.profile-connect p {
  padding-top: 10px;
}
.profile-connect span {
  padding-top: 18px;
}

.sprite {
  margin-left: 10px;
}

.sprite a{
  display: inline-flex;
}

.sprite a:not(:last-child) {
  margin-right: 10px;
}

.sprite-init {
  width: 50px;
  height: 50px;
  float:left;
  display: inline-block;
  transform: perspective(1000);
  transform-style: preserve-3d;
  transition: all 400ms ease;
  transform: rotate(-90deg);
  object-fit: cover;
  border: 1px dashed white;
  border-radius: 0 10px;
}
.sprite-init:hover {
  transform: rotate(0deg);
  border: 0;
}

.sprite-face {
  background: url('../img/sprites_social.png');
  background-position: -11px -74px;
}
.sprite-face:hover {
  background: url('../img/sprites_social.png');
  background-position: -10px -10px;
}
.sprite-youtube {
  background: url('../img/sprites_social.png');
  background-position: -292px -74px;
}
.sprite-youtube:hover {
  background: url('../img/sprites_social.png');
  background-position: -292px -11px;
}
.sprite-github {
  background: url('../img/sprites_social.png');
  background-position: -80px -144px;
}
.sprite-github:hover {
  background: url('../img/sprites_social.png');
  background-position: -10px -144px;
}

/*signInModal*/

#section-signInModal {
  display: none;
  position: fixed;
  right: 0;
  top: 45px;
  width: 30%;
  background: linear-gradient(to right, #F0F8FF, #F0FFF0);
  border: 3px solid #1A1D58;
  border-top: 0;
  border-right: 0;
  border-bottom-left-radius: 20px;
}

.signInTab {
  width: 100%;
}

.tabbtn {
  cursor: pointer;
  border: none;
  outline: none;
  width: 50%;
  float: left;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
  font-size: 20px;
  border-bottom: 1px solid #5A5FBB;
  background-color: #484AEC;
  color: #F6F6F6;
  letter-spacing: 5px;
}
.tabbtn:first-child {
  border-right-width: 1px;
  border-right-style: dashed;
  border-right-color: white;
}

.tabbtn:hover {
  background-color: #bbb;
  color: #5A5FBB;
}

.form {
  position: relative;
  display: block;
  clear: both;
  margin: 10px;
  text-align: center;
}

.form input {
  width: 90%;
  margin: 10px auto;
  font-size: 20px;
  padding: 5px;
  border-radius: 0 5px 5px 5px;
}

.form input:focus {
  border: 3px solid #51C6ED;
}

.confirmbtn {
  width: 80%;
  outline: none;
  border: none;
  background-color: #4CAF50;
  cursor: pointer;
  color: white;
  margin-top: 10px;
  padding: 10px;
  font-size: 22px;
  border-bottom-left-radius: 3px;
}

.confirmbtn:focus {
  background-color: #2E8B57;
}

#signUp {
  display: none;
}

#errtxt {
  display: none;
  width: 100%;
  margin: 10px 0;
  background-color: #FF6347;
  color: white;
  font-size: 16px;
  padding: 5px 0;
  border-bottom-left-radius: 3px;
}

#errtxt:hover {
  background-color: red;
}

/*media setting*/

@media screen and (max-width: 1200px) {
  .repoCol {
    width: 50%;
  }
  .title {
    padding-left: 5px;
  }
}

@media screen and (max-width: 700px) {
  .topnav a:last-child {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .topnav a:last-child {
    display: block;
  }
  .navheader { border-right-width: 0px; border-bottom: 1px dashed #fff; }
  .navcontent { display: none; margin-top: 10px;}
  .topnav .navcontent a, .topnav .navheader{
  	width: 100%;
    text-align: center;
    padding: 12px 0;
  }
  .topnav a.navicon {
    position: absolute;
    width: auto;
    right: 0;
    top: 0;
    display: block;
  }

  .main {
    padding: 46px 0 0 0;
  }

  .repoCol {
    display: block;
    width: 100%;
    margin-top: 10px;
  }

  .profile {
    display: block;
  }

  .profile-img, .profile-name {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }

  .profile-img img {
    margin: 0;
  }

  #section-signInModal {
    width: 100%;
    border-bottom-right-radius: 20px;
  }

}